
.animation-curriculum{
    position: relative;
    content: '';
    width: 250px;
    height: 400px;
}

.curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    z-index: 2; 
    transition: transform 0.5s ease;
    position: absolute;
    transform: translateX(70px) translateY(10px) rotate(10deg); 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.curriculum-title{
    width: 100px;
    height: 20px;
    background-color: rgb(145, 145, 145);
    border-radius: 5px;
    margin: 20px;
    z-index: 2;
}

.curriculum-content{
    width: 60%;
    height: 15px;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    position: relative;
    margin-bottom: 55px;
    z-index: 2;
}

.curriculum-content::before, .curriculum-content::after{
    content: '';
    height: 15px; 
    border-radius: 5px;
    position: absolute;
    background-color: rgb(210, 210, 210);
}

.curriculum-content::before{
    top: 150%; 
    width: 103%;
}

.curriculum-content::after{
    top: 300%; 
    width: 97%;
}

.folder-front {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: #ccee0a;
    border: 1px solid #ccc;
    z-index: 3; 
    transition: clip-path 0.5s ease;
    clip-path: polygon(0 0, 95% 2%, 95% 85%, 0 80%);
}

.folder-back {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 400px;
    background-color: #788d04;
    border: 1px solid #ccc;
    transition: transform 0.5s ease;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 1;
}

.animation-curriculum:hover .folder-front{
    clip-path: polygon(0 0, 80% 10%, 80% 100%, 0 80%);
}

.animation-curriculum:hover .curriculum{
    transform: translateY(30px) translateX(180px); 
}
  
  
  